
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.list-group-item:hover {
    background-color: #efefef;
}

#display.affix {
    top: 10px;
}

.scrollable {
    overflow-y: scroll;
}
